{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </div>
    </header>
    <div class="content">
      {{ partial "utilities-nav.html" . }}
      {{ .Content }}
      <link rel="stylesheet" href="{{ "/swim-generator/app.css" | relURL }}">
      {{ partial "swim-generator-widget.html" . }}
      {{ partial "utilities-nav.html" . }}
    </div>
  </article>
  <script type="module" src="{{ "/swim-generator/app.js" | relURL }}"></script>
{{ end }}
