<div class="swim-generator">
  <div class="swim-generator--input">
    <div>
      <label for="workoutTypeSelect">Workout Type</label>
      <select id="workoutTypeSelect">
        <option value="MIXED_UNDERWATERS" selected>Mixed Underwaters</option>
        <option value="PRESET_PLAN">Preset Plan</option>
        <option value="EN1">(EN1) Endurance Base</option>
        <option value="EN2">(EN2) Threshold Sustained</option>
        <option value="EN3">(EN3) Threshold Development</option>
        <option value="SP1">(SP1) Speed Endurance</option>
        <option value="SP2">(SP2) Max Sprint</option>
      </select>
    </div>
    <div class="swim-generator--time-input swim-generator--input-group">
      <label class="swim-generator--time-input--label" for="timeInput">Minutes</label>
      <input id="timeInput" type="number" value="30" />
    </div>
    <div id="cssInputsContainer" style="display: none;" class="swim-generator--input-group">
      <div>
        <label for="distanceInput">Total Distance (yards)</label>
        <input id="distanceInput" type="number" value="2000" />
      </div>
      <div>
        <label for="cssInput">CSS Time (MM:SS)</label>
        <input id="cssInput" type="text" value="1:20" />
      </div>
    </div>
    <div id="presetInputsContainer" style="display: none;" class="swim-generator--input-group">
      <div>
        <label for="presetPlanSelect">Preset Plan</label>
        <select id="presetPlanSelect"></select>
      </div>
      <div>
        <label for="presetCssInput">CSS Time (MM:SS)</label>
        <input id="presetCssInput" type="text" value="1:20" />
      </div>
      <div class="swim-generator--checkbox">
        <label class="swim-generator--checkbox-label" for="presetIncludeExtras">
          Include optional extras
          <input id="presetIncludeExtras" type="checkbox" />
        </label>
      </div>
    </div>
    <div class="swim-generator--controls">
      <button id="swimGenerateBtn" type="button">Submit</button>
    </div>
  </div>
  <h2 id="time" class="swim-generator--time"></h2>
  <ul id="workout" class="swim-generator--workout"></ul>
</div>
